# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://username:password@localhost:3307/mydb?schema=public"

DB_DIALECT = 
DB_HOST = 
DB_PORT =
DB_PASS =
DB_USERNAME =
DB_NAME =

# Cloudinary
CLOUDINARY_NAME = 
CLOUDINARY_KEY = 
CLOUDINARY_SECRET = 

SERECT_KEY=
EXPIRE_IN=
